<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to the Spring MVC Quickstart application! Get started quickly by signing up!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<h1 align="center">Добро пожаловать в наш магазин!</h1>
<span ><h2 style="margin-left: 20px; color: #387038">Вы счастливчик!</h2></span>
<table border="5" style="border: inset; border-width: 2px; border-color: darkgreen; margin-left: 10px">
    <tr>
        <td>

<span style="margin-left: 30px">Внимание! На товар <span style="font-weight: bold" th:text="${luckyProduct.name}"></span> действует супер-скидка <span style="text-decoration: underline" th:text="${#numbers.formatDecimal(luckyProductDiscount,1,0)}"></span> процентов!</span>
<br /><span style="margin-left: 30px">Спешите! Акция закончится через <span style="font-weight: bold" th:text="${minutesRemaining}"></span> минут!</span>
        </td>
    </tr>
</table>

<!--Разделитель-->
<canvas  id="myCanvas1" width="80%" height="10" ></canvas>
<script>
    var canvas = document.getElementById('myCanvas');
    var context = canvas.getContext('2d');

    context.beginPath();
    context.moveTo(50, 10);
    context.lineTo(1000, 10);
    context.stroke();
</script>

<h2 style="text-align: center" >Список доступных товаров</h2>
<!--Добавление нового товара-->
<table width="100%">
    <tr>
        <td align="center" width="75%"></td>
<td style="margin-right: 50px; margin-top: 10px" width="25%"><h4>Добавить товар</h4>


<form action="#" th:action="@{/addproduct}" th:object="${product}" th:method="post">
    <fieldset>
        <table>
            <tr style="height: 45px;">
                <td>Наименование:</td>
                <td><input class="form-control" type="text" th:field="*{name}" required="required"/></td>
            </tr>
            <tr style="height: 45px;">
                <td style="margin-top: 10px">Цена:</td>
                <td>

                    <input class="form-control" type="text" th:field="*{price}" pattern="\d+" required="required"/>
                </td>
            </tr>
            <tr>
                <td style="margin-top: 10px" colspan="2" align="center">
                    <input class="btn btn-success" type="submit" value="Добавить"/>
                </td>
            </tr>
        </table>
        <br />

    </fieldset>
</form>
</td>
    </tr>
</table>

<!--Список всех доступных товаров-->
<table align="center" cellpadding="5">
    <thead>
    <tr>
        <th>Наименование</th>
        <th>Цена</th>
        <th></th>
        <th style="text-align: right">Количество   Скидка</th>

    </tr>
    </thead>
    <tbody>

    <tr th:each = "ap : ${allProducts}">
        <td>
            <!--Наименование-->
            <div class="row">
                <div class="col-md-6" th:id="'span-to-hide' + ${ap.id}">
                    <span th:text="${ap.name}" />
                </div>
                <div class="col-md-6" th:id="'hidden-edit-form' + ${ap.id}" style="display: none">
                    <form action="/com.task/editName" method="post">
                        <input type="hidden" name="apId" th:value="${ap.id}" />
                        <input class="form-control" type="text" name="apName" th:value="${ap.name}"/>
                    </form>
                </div>

                <div class="col-md-6">
                    <a class="btn pull-right" th:onclick="'$(\&#39;#hidden-edit-form' + ${ap.id} + '\&#39;).toggle();
                                                            $(\&#39;#span-to-hide' + ${ap.id} + '\&#39;).toggle();'">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="edit"/>.
                    </a>
                </div>
            </div>
        </td>
        <td>

            <!--Цена-->
            <div class="row">
                <div class="col-md-6" th:id="'span-to-hide2' + ${ap.id}">
                    <span th:text="${ap.price}" />
                </div>
                <div class="col-md-6" th:id="'hidden-edit-form2' + ${ap.id}" style="display: none">
                    <form action="/com.task/editPrice" method="post">
                        <input type="hidden" name="apId" th:value="${ap.id}" />
                        <input class="form-control" type="text" name="apPrice" th:value="${ap.price}"/>
                    </form>
                </div>

                <div class="col-md-6">
                    <a class="btn pull-right" th:onclick="'$(\&#39;#hidden-edit-form2' + ${ap.id} + '\&#39;).toggle();
                                                            $(\&#39;#span-to-hide2' + ${ap.id} + '\&#39;).toggle();'">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Отредактировать поле"/>.
                    </a>
                </div>
            </div>
        </td>


          <!--Удаление товара-->
        <td width="75" style="text-align: left">
            <a class="btn pull-left" th:href="@{/moderation/products/delete(id=${ap.id})}">
                <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Удалить товар"/>.
            </a>
        </td>
        <td>

            <!--Покупка товара, установка скидки и количесва-->
            <form action="#" th:action="@{/buyproduct(prId=${ap.id})}" th:method="post">
                <fieldset>

                    <table style="width: 280px;">
                        <tr>
                            <td width="140">
                                <input class="btn btn-success" type="submit" value="Купить товар"/>
                            </td>
                            <td><input class="form-control" style="width: 50px !important;"  type="text" name="prAmount" required="required" /> </td>

                            <td>
                                <input class="form-control" style="width: 50px !important;" type="text" name="prDiscount" min="0" pattern="[0-9]|10" oninvalid="setCustomValidity('Скидка доступна от 0 до 10!')" required="required" th:if="${ap.id != luckyProduct.id}"/>
                                <input class="form-control" style="width: 50px !important; pointer-events: none; background: #f5f5f5" type="text" name="prDiscount" th:value="${#numbers.formatDecimal(luckyProductDiscount,1,0)}" th:if="${ap.id == luckyProduct.id}"/>
                            </td>
                        </tr>
                    </table>


                </fieldset>
            </form>
        </td>
    </tr>


    </tbody>
</table>


<!--Разделитель-->
<canvas  id="myCanvas2" width="80%" height="10" ></canvas>
<script>
    var canvas = document.getElementById('myCanvas');
    var context = canvas.getContext('2d');

    context.beginPath();
    context.moveTo(50, 10);
    context.lineTo(1000, 10);
    context.stroke();
</script>


<!--Статистика продаж, детальная-->

<h2 style="margin-top: 40px; margin-bottom: 20px" align="center">Статистика продаж</h2>

<table align="center" cellpadding="10" cellspacing="10">
    <thead>
    <tr>
        <th width="150">Дата покупки</th>
        <th width="200">Наименование товара</th>
        <th width="100">Цена</th>
        <th width="100">Количество</th>
        <th width="150">Итоговая сумма</th>
        <th width="100">Скидка</th>
        <th width="225">Итоговая сумма со скидкой</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each = "as : ${allSales}">
        <td th:text="${#dates.format(as.date, 'dd.MM.yyyy HH:mm:ss')}"></td>
        <td th:each="pr : ${as.products}" th:text="${{pr.name}}"></td>
        <td th:each="pr : ${as.products}" th:text="${{pr.price}}"></td>
        <td th:text="${{as.amount}}"></td>
        <td style="text-align: center;" th:each="pr : ${as.products}" th:text="${pr.price}*${as.amount}"></td>
        <td th:text="${{as.discount}}"></td>
        <td style="text-align: center; font-weight: bold; font-size: 11pt" th:each="pr : ${as.products}" th:text="((${{pr.price}}*${{as.amount}})/100)*(100-${{as.discount}})"></td>

    </tr>


    </tbody>
</table>

<!--Разделитель-->
<canvas  id="myCanvas3" width="80%" height="10" ></canvas>
<script>
    var canvas = document.getElementById('myCanvas');
    var context = canvas.getContext('2d');

    context.beginPath();
    context.moveTo(50, 10);
    context.lineTo(1000, 10);
    context.stroke();
</script>

<!--История скидок-->

<h2 style="margin-top: 40px; margin-bottom: 20px" align="center">История скидок</h2>

<table align="center" cellpadding="10" cellspacing="10">
    <thead>
    <tr>
        <th width="150">Дата покупки</th>
        <th width="200">Наименование товара</th>
        <th width="100">Скидка, %</th>
        <th width="225" style="text-align: center">Сумма скидки</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each = "as : ${allSales}"><span th:if="${as.discount != 0}">


        <td th:text="${#dates.format(as.date, 'dd.MM.yyyy HH:mm:ss')}"></td>
        <td th:each="pr : ${as.products}" th:text="${{pr.name}}"></td>
        <td th:text="${{as.discount}}"></td>
        <td style="text-align: center; font-weight: bold; font-size: 11pt" th:each="pr : ${as.products}" th:text="((${{pr.price}}*${{as.amount}})/100)*${{as.discount}}" th:class="as"></td>
        </span>
    </tr>
    <tr>
        <td colspan="3"><h4 align="right">Итого скидок на сумму:</h4></td>
        <td style="text-align: center; font-weight: bold; font-size: 13pt" th:text="${#numbers.formatDecimal(discountMeter, 1,2)}"></td>
    </tr>
    </tbody>
</table>

<!--Разделитель-->
<canvas  id="myCanvas4" width="80%" height="10" ></canvas>
<script>
    var canvas = document.getElementById('myCanvas');
    var context = canvas.getContext('2d');

    context.beginPath();
    context.moveTo(50, 10);
    context.lineTo(1000, 10);
    context.stroke();
</script>

<!--Почасовая детализированная история за последние 24 часа-->

<h2 style="margin-top: 40px; margin-bottom: 20px" align="center">Почасовая статистика продаж за последние 24 часа</h2>

<table align="center" cellpadding="10" cellspacing="10">
    <thead>

    <tr>
        <th width="180">Время</th>
        <th width="150">Количество чеков</th>
        <th width="180">Общая стоимость чеков</th>
        <th width="200">Стоимость среднего чека</th>
        <th width="100">Сумма скидок</th>
        <th width="180">Общая стоимость чеков с учётом скидок</th>
        <th width="180">Стоимость среднего чека с учётом скидок</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each = "hs : ${hourStatistics}">

        <td th:text="${#dates.format(hs.date, 'dd.MM.yyyy H:mm')+' - '+(#dates.hour(hs.date)+1)+ ':00'}"></td>
        <td style="text-align: center" th:text="${{hs.bills}}"></td>
        <td th:text="${#numbers.formatDecimal(hs.billsSum,1,2)}"></td>
        <td th:if="${hs.bills != 0}" th:text="${#numbers.formatDecimal((hs.billsSum/hs.bills),1,2)}"></td>
        <td th:if="${hs.bills == 0}" th:text="0.00"></td>
        <td th:text="${#numbers.formatDecimal(hs.discountSum,1,2)}"></td>
        <td th:text="${#numbers.formatDecimal((hs.billsSum-hs.discountSum),1,2)}"></td>
        <td th:if="${hs.bills != 0}" th:text="${#numbers.formatDecimal(((hs.billsSum-hs.discountSum)/hs.bills),1,2)}"></td>
        <td th:if="${hs.bills == 0}" th:text="0.00"></td>


    </tr>
    </tbody>
</table>


</body>

</html>